.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
}

.box {
  background-color: #007bff;
  color: white;
  padding: 30px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  /* transition: transform 0.3s ease, background-color 0.3s ease; */
}

.box:hover {
  transform: translateY(-5px);
  background-color: #0056b3;
}
